* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}
@media (min-width: 1920px) {
  html {
    font-size: 19px;
 }
}
@media (min-width: 2200px) {
  html {
    font-size: 21px;
 }
}
@media (min-width: 2500px) {
  html {
    font-size: 23px;
 }
}
@media (min-width: 2700px) {
  html {
    font-size: 24px;
 }
}
@media (min-width: 3000px) {
  html {
    font-size: 27px;
 }
}
@media (min-width: 3500px) {
  html {
    font-size: 30px;
 }
}
@media (min-width: 4000px) {
  html {
    font-size: 37px;
 }
}
@media (min-width: 4500px) {
  html {
    font-size: 40px;
 }
}
@media (min-width: 5000px) {
  html {
    font-size: 45px;
 }
}
@media (min-width: 6000px) {
  html {
    font-size: 55px;
 }
}


body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #826454;
  font-size: 16px;
}

img {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: "Cinzel", serif;
}

.fifteen-section {
  background: rgb(241, 239, 226);
}

.inner-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.fifteen-scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fifteen-left{
  flex: 0 0 auto;
  max-width: 45%;
  width: 45%;
}

.fifteen-right {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.fifty-left-inner {
  position: sticky;
  top: 0;
}

.fifteen-left-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  transition: opacity 0.8s ease-in;
}
.fifteen-left-content.absolute {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.fifteen-left-content.absolute.active {
  opacity: 1;
  z-index: 1;
}

.fifteen-left-content img {
  height: auto;
  width: 100%;
  object-fit: contain;
  display: block;
}

.fifteen-right-content {
  min-height: 100vh;
  display: flex;
  flex: auto;
  align-items: center;
  flex-direction: column;
}
.content-main {
	margin-bottom: 1.3rem;
}
@media (max-width: 768px) {
  .fifteen-right-content {
    min-height: auto;
  }
}

@media (min-width: 768px) {

  .fifteen-right:not(.dataBg) .inner-content p {
    /* color: rgba(241, 239, 226, 1); */
  }

  .fifteen-right:not(.dataBg) .join-btn {
    background: #826454;
  }

  .fifteen-right:not(.dataBg) .join-btn:hover {
    background: #3e5641;
  }

  .fifteen-right.dataBg {
    background-color: #f1efe2;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  }

  .fifteen-right {
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    /*
    background-color: #3e5641;
    background-color: -moz-linear-gradient(top, #3e5641 0%, #0a1517 100%);
    background-color: -webkit-linear-gradient(top, #3e5641 0%, #0a1517 100%);
    background-color: linear-gradient(to bottom, #3e5641 0%, #0a1517 100%);
    */
  }
}

.fifteen-right-content .count {
  position: absolute;
  right: 2.5rem;
  bottom: 2.2rem;
}

.fifteen-right-content .count img {
  max-width: 7.750269106566201vh;
}

.fifteen-right-content h1 {
  text-transform: uppercase;
  font-size: 2.7rem;
  line-height: 1;
  color: #826454;
  text-align: center;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 2rem;
}

.fiftenn-logo img {
  width: auto;
  height: auto;
  width: 85%;
  margin: 0 auto 2.8rem auto;
  margin-bottom: 6rem;
  display: block;
}

.fifteen-right-content h1:before {
  content: attr(data-title);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0% 100%);
  clip-path: polygon(0 0, 51% 0, 51% 100%, 0% 100%);
  color: #f1efe1;
  left: 0;
}

.fifteen-right-form {
  flex-direction: column;
  height: auto;
}

.inner-content {
  max-width: 35rem;
  width: 100%;
  padding: 0 3rem;
}

.inner-content h4 {
  text-align: center;
  font-size: 4rem;
  color: #826454;
  line-height: 2.5;
  margin-bottom: 2.5;
}

.inner-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.inner-content h4 span {
  display: block;
  font-size: 1.063rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.inner-content p {
  color: #826454;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.4;
}

.join-btn {
  background: #3e5641;
  width: 100%;
  font-size: 2.583423035522067vh;
  display: block;
  text-align: center;
  color: #f1efe2;
  text-decoration: none;
  padding: 0;
  height: 7.3196986006458555vh;
  line-height: 7.3196986006458555vh;
  text-transform: uppercase;
  font-family: "Cinzel", serif;
  margin-top: 3rem;
  transition: all 0.3s ease-in;
}

.join-btn:hover {
  background: #826454;
}

.down-arrow img {
  width: 1.7222820236813778vh;
  display: block;
  margin: 0 auto;
  /* -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  */
}

.fifteen-right-form p {
  padding: 0 1.5625rem;
  color: rgba(241, 239, 226, 1);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  max-width: 35.9375rem;
  margin-right: auto;
}

div[data-paperform-id] {
  padding: 0;
  width: 100%;
  margin-right: auto;
  height: 100%;
  overflow-x: visible;
}
div[data-paperform-id] iframe{
  margin-left: -25px;
  width: calc( 100% + 50px ) !important;
}

div[data-paperform-id]::-webkit-scrollbar {
  width: 3px;
}

div[data-paperform-id]::-webkit-scrollbar-track {
  background: transparent;
}

div[data-paperform-id]::-webkit-scrollbar-thumb {
  background: #826454;
}

div[data-paperform-id]::-webkit-scrollbar-thumb:hover {
  background: #826454;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-5px);
  }
}

.disclamer {
  background: #4f423b;
  padding: 2.813rem 0;
  text-align: center;
}

.disclamer p {
  color: rgba(241, 239, 226, 1);
  font-size: 0.75rem;
  line-height: 1rem;
  width: 62.188rem;
  max-width: 100%;
  margin: 0 auto;
}

.mobile-heading {
  display: none;
}

.fifty-left-inner a.join-btn {
  display: none;
}

.fifteen-right-form h2 {
  /* display: none; */
}

@media (min-width: 768px) and (max-width: 1024px) {
  .inner-content {
    max-width: 100%;
    margin-left: 0;
    width: 100%;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }

  .fiftenn-logo img {
    height: 4.6875rem;
  }

  .join-btn {
    font-size: 1.375rem;
  }

  .fifteen-right-content h1 {
    font-size: 3.3125rem;
    line-height: 3.3125rem;
    margin-left: -0.3125rem;
  }

  .fifteen-right-form {
    padding-top: 5vh;
    padding-left: 0;
  }
  .disclamer {
    padding: 2.813rem 1.5625rem;
  }
}

@media (max-width: 767px) {
  .inner-container {
    padding: 0;
  }

  .fifteen-left{
    max-width: 100% !important;
  }

  .fifty-left-inner {
    height: 70vh;
    min-height: 1px;
  }

  .fifteen-left-content img{
    object-fit: cover !important;
  }

  .fifteen-left-content img {
    height: 70vh;
    object-fit: contain;
    width: 100%;
    object-position: left top;
  }

  .fifteen-right-content {
    height: auto;
  }

  .fifteen-scrolly {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fifteen-left {
    width: 100%;
  }

  .fifteen-right {
    width: 100%;
    padding-top: 0;
  }

  div[data-paperform-id] {
    padding: 0;
    height: 100%;
    overflow: visible;
  }

  .fifteen-right-content{
    padding-bottom: 0;
  }

  .fifteen-right-form p {
    padding: 0 2.25rem;
    text-align: center;
    font-size: 0.8125rem;
    line-height: 1rem;
  }

  .fifteen-right-form {
    padding-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  }

  .fifteen-right-content .count,
  .down-arrow {
    display: none;
  }

  .inner-content a.join-btn {
    display: none;
  }

  .inner-content {
    padding: 3.75rem 1.9375rem;
    max-width: 100%;
    margin-left: 0;
  }

  .mobile-heading {
    display: block;
    position: relative;
    padding: 1.75rem 1.6875rem 0;
  }

  .mobile-heading .count {
    display: block;
    text-align: right;
  }

  .mobile-heading .count img {
    width: 3.625rem;
  }

  .mobile-heading h1 {
    text-transform: uppercase;
    color: #4f423b;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-top: 3.25rem;
  }

  .disclamer {
    padding: 2.4375rem 1.9375rem;
  }

  .join-btn {
    position: absolute;
    bottom: 0;
    max-width: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 3.4375rem;
    line-height: 3.4375rem;
  }

  .fifty-left-inner a.join-btn {
    display: block;
    z-index: 9;
  }

  .fiftenn-logo img {
    height: 4.4375rem;
    margin-bottom: 1.9375rem;
  }

  .inner-content p {
    font-size: 0.8125rem;
  }

  .fifteen-right-form h2 {
    display: block;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    width: 100%;
    font-size: 1.125rem;
    margin-bottom: 0.9375rem;
    line-height: 1.5625rem;
  }

  .disclamer p {
    font-size: 0.625rem;
    line-height: 1rem;
  }
}

.coming-soon{
  font-weight: 300;
  font-size: 1.6rem !important;
  text-align: center;
  font-family: "Cinzel", serif;
  margin-top: 1.2rem;
}

.desktop-only{ display: block; }
.mobile-only{ display: none; }
@media (max-width: 767px) {
  .desktop-only{ display: none; }
  .mobile-only{ display: block; }
}

.py-6{
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (max-width: 767px) {
  .py-6{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.disclamer{
  position: relative;
}

.disclamer .count{
  margin-top: 2rem !important;
  position: absolute;
  right: 2rem;
  top: 0.45rem;
  display: block;
  margin: 0 auto;
}

.disclamer .count img{
  display: block;
  margin: 0 auto;
}

.disclamer p{
  max-width: 70%;
}

@media (max-width: 767px) {
  .disclamer .count{
    margin-top: 2rem !important;
    position: static;
    display: block;
    margin: 0 auto;
  }
  
  .disclamer .count img{
    display: block;
    margin: 0 auto;
  }

  .disclamer p{
    max-width: 100%;
  }
  
}

.caption{
  font-size: 0.6rem;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 10px;
  z-index: 9999;
  opacity: 0.8;
  left: 10px;
}

@media (max-width: 767px) {

  .caption{
    text-align: center;
    right: 10px;
    bottom: 65px;
    text-shadow: 0px 1px 10px #000;
    font-size: 0.75rem;
    opacity: 1;
  }
  
}

.unstyled{
  text-decoration: none;
  color: inherit;
}

.unstyled:hover{
  text-decoration: none;
  color: inherit
}
